html{
    font-size: 62.5%;
    font-family: Rubik;

}
.main{
    display: flex;
    width: 100%;
    height: 700px;
    background: #ffffff 0% 0% no-repeat padding-box;
    opacity: 1;
    justify-content: space-between;
}
.logo{
    font-size: 2.5em;
    margin-top: 3em;
    margin-left: 7em;
    width: 50%;
    height: 450px;
}
.imgpage{
    width: 50%;
    height: 550px;
    margin-top: 5em;
    margin-right: 20em;
    background: #191932 0% 0% no-repeat padding-box;
}
#text{
    margin-top: 1.5em;
}

h3{
    margin-top: 2em;
    margin-left: 4em;
    margin-bottom: 0.2em;
    text-align: left;
    font: normal normal medium 28px/33px Rubik;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}
h4{
    margin-top: 0px;
    margin-left: 7.3em;
    text-align: left;
    font: normal normal normal 16px/19px Rubik;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}
.em{
    display: block;
}
.em span{
    position: absolute;
    z-index: 1;
    cursor: text;
    pointer-events: none;
    color: #999;
    padding: 7px;
    line-height: 17px;
    font-size: 17px;
}
#pass{
    text-align: left;
    font: normal normal medium 12px/14px Rubik;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    width: 28em;
    height: 1.8em;
    font-size: 12px;
    margin-left: 9.5em;
    margin-bottom: 2.3em;     
    padding-top: 17px;
    border: 1px solid #02A4FF;
    border-radius: 6px;
}
#pass1{
    text-align: left;
    font: normal normal medium 12px/14px Rubik;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    width: 28em;
    height: 1.8em;
    font-size: 12px;
    margin-left: 9.5em;
    margin-bottom: 2.3em;     
    padding-top: 17px;
    border: 1px solid #6A6A9F67;
    border-radius: 6px;
}
#side2{
    margin-left:10.2em ;
    margin-top: -2px;
    font-size: 12px;
}
::placeholder {
    padding-left: 1em;
}
#bt{
    background: #171717 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    width: 340px;
    height: 30px;
    margin-left: 8.6em;
    margin-bottom: 0.5em;
    color: #ffffff;
}
.password i {
    font-size: 12px;
    margin-left: -2.5em;
}